.dropdown label {
  display: block;
  margin-bottom: 0.32em;

  font-size: 22px;
  font-weight: 700;
}

.dropdown select {
  background-color: #FFFFFF;
  color: rgba(0,0,0, 0.4) ;
  font-size: 20px;
  width: 100%;
  padding: 18px;
  outline: none;
  border: none;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 9px;
}

