.button {
    background: #6278f7;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    margin: 1.5em 0 0 0; 
    padding: 1em;
    color: white;
    font-weight: 700;
    font-size: 17px;

}

.button:hover {
    color:#9FF5D4;
    transition: all ease-in 200ms;
}