.section-form {
  display: flex;
  justify-content: center;
  margin: 4em 0;
}

.section-form form {
  max-width: 50%;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 2rem 2rem;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
}

.section-form h2 {
  text-align: center;
  padding: 0.25em;
}
