.team {
  text-align: center;
  padding: 1.5em;
  

}

.team h3 {
  font-size: 32px;
  display: inline-block;
  padding-bottom: 8px;
}


.team .colaboradores {
  display: flex;
  justify-content:space-around;
  margin-top: 1.15rem;
  flex-wrap: wrap;
}