.campo-texto {
  margin: 24px 0;
}

.campo-texto label {
  display: block;
  margin-bottom: 0.32em;

  font-size: 22px;
  font-weight: 700;
}

.campo-texto input {
  background-color: #ffffff;
  color: rgba(0 ,0 , 0, 0.4);
  font-size: 20px;
  width: 100%;
  padding: 18px;
  outline: none;
  border: none;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 9px;
}

.campo-texto input::placeholder {
  color: black;
  opacity: 0.4;
}
